# Entornos virtuales
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Datasets & Staging Binaries
data/staging/
data/processed/

# Archivos temporales y de SO
.agents/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
